<ng-container class="dicebody" *ngIf="state$ | async as st">
    <div class="game-layout">
      <table class="score-table">
        <tr *ngFor="let row of allRows">
          <td>{{ row }}</td>
          <td [class.bonus]="inputRows[st.currentRollIdx] === row" [class.preview]="!(st.usedRows[row] >= -200)"
          (click)="onSubmit(row, st.usedRows)"
          (mouseenter)="onHover(row, st.usedRows)"
          (mouseleave)="onUnhover(row)">{{ (st.usedRows[row] >= -200 ? st.usedRows[row] : st.previews[row]) }}</td>
        </tr>
      </table>
  
      <div class="dice-panel">
        <div class="cheats-left">Cheats left: {{ st.cheatLeft }}</div>
        <div class="dice-row">
          <div *ngFor="let die of st.rolls[st.currentRollIdx]; let i = index" class="die-wrapper">
            <svg (click)="onDieClick(i)"
                (mouseenter)="dieEnter(i)"
                (mouseleave)="dieLeave(i)"
                 [class.selected]="selectedDie===i"
                 [class.hovered]="hoveredDie===i"
                 width="50" height="50" viewBox="0 0 100 100">
              <rect width="100" height="100" rx="15" ry="15" fill="white" stroke="#333" stroke-width="10" />
              <circle *ngFor="let p of getDotPositions(die)"
                      [attr.cx]="p.x" [attr.cy]="p.y" r="8" fill="black" />
            </svg>
  
            <div *ngIf="selectedDie === i" @menuToggle class="radial-menu">
              <button *ngFor="let v of [1,2,3,4,5,6]" (click)="onCheat(st.currentRollIdx, i, v)">{{ v }}</button>
            </div>
          </div>
          <div *ngIf="st.currentRollIdx == 13" class="final-score">
            <h1>{{ st.usedRows["∑ Total"] >= 300 ? "Well done!" : "Better luck next time..." }}</h1>
            <p>Your total was <b>{{st.usedRows["∑ Total"]}}</b> - share it with your friends!<br>Thanks for playing today!</p>
            <button *ngIf="practiceMode === false" class="final-btn" (click)="clipboard(st.usedRows)">Share (to clipboard)</button>
            <button class="final-btn" (click)="practice()">Practice Mode</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>