.cheats-left {
    font-family: "Bahnschrift", sans-serif;
}
.game-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.screen-labels {
    text-align: center;
    color: #d5cae2;
}
.starter {
    height: 50px;
    margin-bottom: 0px;
}
.modedesc {
    text-align: center;
    color: #d5cae2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.start-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.desc-label {
    margin-top: 1px;
    margin-bottom: 3px;
}
.title-label {
    font-size: 20px;
    text-shadow: 0 0 2px #d5cae2b0, 0 0 4px #d5cae294, 0 0 6px #d5cae259;
    margin-top: 1px;
    margin-bottom: 1px;
}
.score-table {
     flex: 0 1 auto;
     font-family: "Bahnschrift", sans-serif;
    }
.start-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.start-panel {
    position: relative; /* allow ::before to position absolutely inside */
    width: 332px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .start-panel::before {
    content: "";
    position: absolute;
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
    background-image: url("../../assets/images/yambleboard.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 0; /* behind the content */
  }
  
  .start-panel > * {
    position: relative;
    z-index: 1; /* bring buttons above ::before */
  }
.dice-panel {
     display: flex; width: 205px;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     box-shadow: #2907449d 5px 5px 5px;
     padding: 10px;
     margin-right: 7px;
     background-color: #d5cae2;
 }
.cheats-left { 
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.dice-row { display: flex; flex-wrap: wrap; gap: 1rem; }
.die-wrapper { position: relative; margin-left: 3px; margin-right: 3px; }
svg.selected { transform: scale(1.1); }
svg.hovered { filter: invert(7%) sepia(27%) saturate(468%) hue-rotate(71deg) brightness(103%) contrast(101%); }
.radial-menu {
    pointer-events: none;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: 120px; height: 120px;
  display: flex; justify-content: center; align-items: center;
  z-index: 20;
}
.radial-menu button {
    pointer-events: auto;
    font-family: "Bahnschrift", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  position: absolute; width: 30px; height: 30px;
  border-radius: 50%; background: rgb(176, 113, 212); border: 2px solid rgb(20, 20, 20);
  z-index: 20;
}
.radial-menu button:nth-child(1) { top: -3px; left: 45px; }
.radial-menu button:nth-child(2) { top: 20px; right: 0; }
.radial-menu button:nth-child(3) { bottom: 20px; right: 0; }
.radial-menu button:nth-child(4) { bottom: 0px; left: 45px; }
.radial-menu button:nth-child(5) { bottom: 20px; left: 0; }
.radial-menu button:nth-child(6) { top: 20px; left: 0; }

.final-score {
    font-family: "Bahnschrift", sans-serif;
    text-align: center;
}

.final-btn {
    width: 150px;
    background-color: #b163d8;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Bahnschrift", sans-serif;
    font-size: 20px;
}

.final-btn:hover {
    background-color: #641e92;
    color: white;
}

.final-btn:active {
    background-color: #52127c;
    color: rgb(192, 159, 179);
}

svg {
    border-radius: 7px;
}

tr:nth-child(even) {
    background-color: #d5cae2;
    height: 30px;
    opacity: 0.8;
}

tr:nth-child(odd) {
    background-color: #d4bedf;
    height: 30px;
    opacity: 0.8;
}

tr:nth-child(7) {
    background-color: #c293da;
    height: 40px;
}
tr:nth-child(10) {
    background-color: #c293da;
    height: 40px;
}
tr:nth-child(16) {
    background-color: #c293da;
    height: 40px;
}
tr:nth-child(17) {
    background-color: #4d1779;
    color: white;
    height: 40px;
}

td:nth-child(1) {
    padding-left: 5px;
    width: 200px;
}
td:nth-child(2) {
    text-align: center;
    width: 100px;
    font-size: 18px;
    padding-top: 3px;
}

td:nth-child(2).preview {
    color: rgba(61, 54, 66, 0.486);
}

td:nth-child(2).bonus {
    background-color: rgb(57, 235, 176);
}

td:nth-child(2):hover {
    background-color: #b163d8;
}

td:nth-child(2).bonus:hover {
    background-color: rgb(35, 201, 145);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

table {
    margin-left: 7px;
    margin-right: 30px; /*ocemo da ovo bude unselectable, da nema onaj cudan cursor kad submitujes*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-image: url("../../assets/images/paper.jpg");
    background-size: 1500px 750px;
    padding: 10px;
    box-shadow: #2907449d 5px 5px 5px;
}