.cheats-left {
    font-family: "Bahnschrift", sans-serif;
}
.game-layout { display: flex; justify-content: center; align-items: flex-start; gap: 1rem; }
.score-table {
     flex: 0 1 auto;
     font-family: "Bahnschrift", sans-serif;
    }
.dice-panel { display: flex; flex-direction: column; align-items: center; }
.cheats-left { margin-bottom: 1rem; font-weight: bold; }
.dice-row { display: flex; flex-wrap: wrap; gap: 1rem; }
.die-wrapper { position: relative; }
svg.selected { transform: scale(1.1); }
.radial-menu {
    pointer-events: none;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: 120px; height: 120px;
  display: flex; justify-content: center; align-items: center;
  z-index: 20;
}
.radial-menu button {
    pointer-events: auto;
    font-family: "Bahnschrift", sans-serif;
  position: absolute; width: 30px; height: 30px;
  border-radius: 50%; background: rgb(176, 113, 212); border: 2px solid rgb(20, 20, 20);
  z-index: 20;
}
.radial-menu button:nth-child(1) { top: 0; left: 45px; }
.radial-menu button:nth-child(2) { top: 15px; right: 0; }
.radial-menu button:nth-child(3) { bottom: 15px; right: 0; }
.radial-menu button:nth-child(4) { bottom: 0; left: 45px; }
.radial-menu button:nth-child(5) { bottom: 15px; left: 0; }
.radial-menu button:nth-child(6) { top: 15px; left: 0; }

svg {
    border-radius: 7px;
}

tr:nth-child(even) {
    background-color: #d5cae2;
    height: 30px;
}

tr:nth-child(odd) {
    background-color: #d4bedf;
    height: 30px;
}


table {
    
}